/* IMPORTS AND VARIABLES */
/* -------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #F5F5F5;
    --dark_grey: #A9A9A9;
    --light_grey: #D3D3D3;
}




/* HEADER */
/* -------------------------------------------------------------------*/

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--grey);
}

header {
    width: 100%;
    height: auto;
    background-color: var(--white);
    margin: 0;
    color: var(--black);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    border-bottom: 1px var(--light_grey) solid;
    z-index: 1;
}

.HB {
    height: 65px;
    width: 50%;
}

.HB p {
    height: 65px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 65px;
}

/* NAV */
/* -------------------------------------------------------------------*/
.nav {
    height: 65px;
    width: 50%;
    padding: 0;
    margin: 0;
}

ul {
    height: 65px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    display: inline-flex;
    justify-content: center;
}

li {
    height: 65px;
    width: auto;
}

li a {
    font-size: 25px;
    display: block;
    color: var(--black);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: border-width 0.3s linear;
}

li a:hover {
    text-decoration: none;
    color: var(--dark_grey);
    border-bottom: 5px var(--black) solid;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+main {
    padding-top: 102px;
}
.sticky + .content-width {
    margin-top: 102px;
}

/* footer */
/* -------------------------------------------------------------------*/


footer {
    height: auto;
    width: 100%;
    background-color: var(--grey);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px var(--light_grey) solid;
}

footer h3 {
    color: var(--dark_grey);
    font-size: 24px;
    font-weight: 900;
}

footer a {
    color: var(--dark_grey);
    text-decoration: none;
}

footer h3 a:hover {
    color: var(--light_grey);
    text-decoration: underline;
}

footer .social a {
    color: var(--dark_grey);
    font-size: 40px;
    margin: 15px;
    text-decoration: none;
}

footer .social i:hover {
    color: var(--light_grey);
    text-decoration: none;
}


/* Home page */
/* -------------------------------------------------------------------*/

main {
    height: 100em;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.containter {
    width: 80%;
    background-color: var(--white);
    border: 1px var(--light_grey) solid;
    margin-top: 100px;
    font-size: large;
    margin-bottom: 200px;
}

.containter img {
    float: left;
    padding-right: 20px;
    height: 200px;
    width: 200px;
}


/* Basics page */
/* -------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.html,
.body {
    width: 100%;
    height: 100%;

}

.content-width {
    width: 100%;
    height: 100em;
    margin: 0 auto;
    padding-top: 100px;
}

/* Slideshow */
.slideshow {
    position: relative;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    font-family: 'Fira Mono', monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    color: var(--black);
    background-color: var(--white);
    padding-top: 50px;
    border: 1px var(--light_grey) solid;
}

.slideshow-items {
    position: relative;
    width: 100%;
    height: 500px;
}

.item {
    position: absolute;
    width: 100%;
    height: 600px;
}

.item-image-container {
    height: 500px;
    position: relative;
    width: 35%;
}

.item-image-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 100px;
    width: 100%;
    height: 100%;
    background: var(--grey);
    opacity: 0;
    z-index: 0;
}

.item-image {
    position: relative;
    width: 100%;
    height: 500px;
    opacity: 0;
    display: block;
    /* transition: property name | duration | timing-function | delay  */
    transition: opacity .3s ease-out .45s;
    z-index: 0;
    margin-left: 100px;
    border: 1px var(--light_grey) solid;
}

.item.active .item-image {
    opacity: 1;
}

.item.active .item-image-container::before {
    opacity: 0;
}

.item-description {
    position: absolute;
    top: 182px;
    right: 0;
    width: 45%;
    padding-right: 4%;
    line-height: 1.8;
}

/* Staggered Vertical Items ------------------------------------------------------*/
.item-header {
    height: 10vw;
    position: absolute;
    top: 150px;
    left: 80px;
    z-index: 0;
    color: var(--black);
}

.item-header .vertical-part {
    height: 300px;
    margin: 0 -4px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 7vw;
    color: var(--black);
}



.vertical-part {
    overflow: hidden;
    display: inline-block;
}

.vertical-part b {
    display: inline-block;
    transform: translateY(100%);
}

.item-header .vertical-part b {
    transition: .5s;
}

.item-description .vertical-part b {
    transition: .21s;
}

.item.active .item-header .vertical-part b {
    transform: translateY(0);
}

.item.active .item-description .vertical-part b {
    transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
    position: relative;
    text-align: right;
    z-index: 0;
    border-bottom: 1px var(--light_grey) solid;
    margin-bottom: 100px;
}

.controls ul {
    list-style: none;
    align-items: center;
}

.controls ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    background: var(--light_grey);
    ;
    cursor: pointer;
}

.controls ul li.active {
    background: var(--dark_grey);
}

/* application code download */
.app-container {
    width: 100%;
    position: relative;
    background-color: var(--white);
    border-top: 1px var(--light_grey) solid;
    border-bottom: 1px var(--light_grey) solid;
    padding: 100px;
    display: inline-flex;
}

.app-container .qr {
    height: 154px;
    width: auto;
}

.qr-content {
    width: 100%;
    padding-left: 100px;
}

.qr-content p {
    height: 154px;

    display: table-cell;
    vertical-align: middle;
    vertical-align: middle;
}





/* Tools page */
/* -------------------------------------------------------------------*/
.tools {
    display: flex;
    flex-direction: column;
}

/* Calorie calculator */

.cal-calculator {
    height: 400px;
    width: 70%;
    background-color: var(--black);
    margin: 50px;
    padding: 25px;
}

.cal-calculator form {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

input {
    height: 40px;
    font-size: 20px;
    background-color: #d1d1d1;
    color: var(--black);
    font-weight: 600;
}

.cal-calculator h1 {
    grid-area: 1 / 3 / 2 / 6;
    color: var(--grey);
}


#age-label {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 25px;
    color: var(--grey);
    text-align: right;
    padding-right: 20px;
}

#age {
    grid-area: 2 / 2 / 3 / 3;
}


#height-label {
    grid-area: 3 / 1 / 4 / 2;
    font-size: 25px;
    color: var(--grey);
    text-align: right;
    padding-right: 20px;
}

#height {
    grid-area: 3 / 2 / 4 / 3;
}

#height-in {
    grid-area: 3 / 3 / 4 / 4;
}


#weight-label {
    grid-area: 4 / 1 / 5 / 2;
    font-size: 25px;
    color: var(--grey);
    text-align: right;
    padding-right: 20px;
}

#weight {
    grid-area: 4 / 2 / 5 / 3;
}

#male-label {
    grid-area: 2 / 5 / 3 / 6;
    font-size: 25px;
    color: var(--grey);
    text-align: right;
    padding-right: 20px;
}

#male {
    grid-area: 2 / 6 / 3 / 7;
}

#female-label {
    grid-area: 3 / 5 / 4 / 6;
    font-size: 25px;
    color: var(--grey);
    text-align: right;
    padding-right: 20px;
}

#female {
    grid-area: 3 / 6 / 4 / 7;
}

.dropdown {
    grid-area: 4 / 5 / 5 / 6;
}

#activity {
    height: 40px;
    background-color: var(--grey);
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
}

option {
    font-weight: 600;
}

#submit {
    grid-area: 7 / 4 / 8 / 5;
}

#reset {
    grid-area: 7 / 5 / 8 / 6;
}

#cal-results {
    grid-area: 7 / 6 / 8 / 7;
    color: var(--grey);
    font-size: 25px;
    padding: 0;
    margin: 0;
}




/* BMI calculator */
.bmi-calculator {
    width: 70%;
    height: 300px;
    background-color: var(--black);
    margin-bottom: 50px;
    padding: 25px;
}


.bmi-calculator-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.bmi-calculator h1 {
    grid-area: 1 / 3 / 2 / 6;
    color: var(--grey);
    padding: none;
}

#bmi-height-label {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 25px;
    color: var(--grey);
    text-align: right;
    padding-right: 20px;
}

#bmi-height {
    grid-area: 2 / 3 / 3 / 4;
}

#bmi-weight-label {
    grid-area: 3 / 2 / 4 / 3;
    font-size: 25px;
    color: var(--grey);
    text-align: right;
    padding-right: 20px;
}

#bmi-weight {
    grid-area: 3 / 3 / 4 / 4;
}

#bmi-submit {
    grid-area: 2 / 5 / 3 / 6;
}

#bmi-reset {
    grid-area: 3 / 5 / 4 / 6;
}

#bmi-results {
    grid-area: 5 / 3 / 6 / 6;
}


.info {
    width: 50%;
    background-color: aqua;
}






/* screan */

@media screen and (max-width: 900px) {

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }



}